* {
  margin: 0 0 0 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gilroy;
}
body {
  margin: 0 auto;
  background-color: #00bbf0;
  background: url("../img/bg_main.jpg") no-repeat;
  background-size: cover;
  max-width: 1440px;
}
section {
  max-width: 1112px;
  margin: 0 auto;
}
header {
  display: flex;
  margin: 0 auto;

  justify-content: space-between;
}
header_link,
a {
  text-decoration: none;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  color: #d9faff;
  margin: 50.5681px 0px;
}

header_button,
button {
  display: block;
  margin: 36px 0px;
  width: 167px;
  height: 50px;

  border: 1.5px solid #d9faff;
  box-sizing: border-box;
  border-radius: 26px;

  background-color: transparent;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  color: #d9faff;

  cursor: pointer;
}

.header_title {
  display: block;
  margin: 228px auto 0;

  font-weight: bold;
  font-size: 46px;
  line-height: 52px;

  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;

  color: #d9faff;
}

.header_subtitle {
  display: block;
  margin: 27px auto 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  color: #d9faff;
}
.main_button {
  margin: 40px auto 0;
  width: 198px;
  height: 50px;
  background: linear-gradient(90deg, #da6900 21.75%, #eb7100 100%);
  border-radius: 26px;
}

.social_link {
  display: flex;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 350px;
}

.social_link a {
  margin: 0 auto;
  justify-content: space-between;
}
